.message {
    position: fixed;
    bottom: 0;
    width: 100%;

}

.button{
    
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 200px;
    color: rgb(31, 21, 21);
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    border: 3px dashed #1f3c48;
    border-radius: 6px;
    transition: 0.3s;
}

.text {
    /* left: 50px; */
    justify-content: space-between;
    align-items: center;
    text-align: left;
    /* margin-left: auto; */
    padding: 1em 2em;
    width: 500px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    
    border-radius: 6px;
    transition: 0.3s;
}

.mesbox{
    height: 400px;/*your_containerに対して100%になる */
    width: 100%;/*your_containerに対して100%になる */
    background-color: #eee;
    border: solid 1px;
    overflow: scroll;
}
  
.messagesText {
    position: relative;
    display: inline-block;
    width: 100%;                
    height: 100%;              
    max-height: 45vh;
    border: 1px solid #000;  
    overflow-y: scroll;     
    margin: 8px 0 0;
    padding: 9px 14px;
}

/* 吹き替え用 */
.balloon1_left {
    
    position: relative;
    display: inline-block;
    margin: 0.1em 0 1.5em 15px;
    padding: 7px 10px;
    
    width: 500px;
    color: #555;
    font-size: 16px;
    background: #e0ffeb;
    border-radius: 10px;
    /* left:-75px;  */
    margin-right: 0;
    margin-left: auto;
    
    bottom: 50px;
    float: right;
    right:50px;
  }
  
  .balloon1_left:before {
    
    content: "";
    position: absolute;
    top: 60%;
    left: 100%;
    margin-top: -15px;
    border: 10px solid transparent;
    border-left: 15px solid #e0ffeb;
  }
  
  .balloon1_left p {
    margin: 0;
    padding: 0;
  }

  
  /* 送信ボタン */
  .flat_border {
    position: relative;
    text-align: center;
    /* 中央揃え */
    height: 65px;
    margin: 0 auto;
    /* 幅の指定 */
    width: 50%;
    max-width: 100px;
    box-sizing: border-box;
    padding: 10px;
    /* 色の指定 */
    background: linear-gradient(135deg, #00eeff, #0095ff);
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
    border: 2px solid #0095ff;
    background: #fff;
    color: #0095ff;
  }
  .flat_border:hover {
    background: #0095ff;
    color: #fff;
  }
  .flat_border:active, .flat_border:focus {
    top: 2px;
  }

 /* 返答用 */
.balloon3_left {
    position: relative;
    display: inline-block;
    margin: 5.0em 0 0.5em 10px;
    padding: 0.1px 10px;
    /* width: auto; */
    min-width: 300px;
    max-width: 500px;
    color: #555;
    font-size: 16px;
    background: #e0edff;
    border-radius: 10px;
    /* left:-220px;  */
    text-align:  left; 

    /* line-height: 2; */
    float: left;
    left:150px;
    bottom: 65px;
}

  .balloon3_left:before {
    content: "";
    position: absolute;
    top: 30%;
    left: -30px;
    margin-top: -10px;
    border: 13px solid transparent;
    border-right: 20px solid #e0edff;
  }
  
  .balloon3_left p {
    margin: 0;
    padding: 0;
  }

  .balloon3_left .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
  }
  
  .balloon3_left .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }



/* 追加　返答用 */
.balloon6 {
    width: 59%;
    margin: 2.5em 0;
    overflow: hidden;
    
    bottom: 100px;

  }
  
  .balloon6 .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
  }
  
  .balloon6 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }
  
  .balloon6 .chatting {
    /* width: 80%; */
    max-width: 50%;
  }
  
  .balloon6 .says {
    text-align:  left;
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 -100px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
    /* bottom: 5px; */
  }
  
  .balloon6 .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
  }
  
  .balloon6 .says p {
    margin: 0;
    padding: 0;
  }


/* 質問文 */
.balloon7 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
    left: 50px;
    
    /* アニメーション */
    animation-name: fadeInAnime;
    animation-fill-mode:backwards;
    animation-duration:0.1s;
    animation-timing-function:ease;
    animation-delay: 2.0s;
    animation-direction:normal;
    }
  
    @keyframes fadeInAnime{
    0% {
    opacity: 0;
    }
  
    100% {
    opacity: 1;
    }
  }
  
  .balloon7 .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
  }
  
  .balloon7 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }
  
  .balloon7 .chatting {
    width: 100%;
  }
  
  .balloon7 .says {
    text-align:  left;
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 -100px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
  }
  
  .balloon7 .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
  }
  
  .balloon7 .says p {
    margin: 0;
    padding: 0;
  }