.home{
    width: auto;
    height: max-content;
    
    
    background-color: #37e1f4;
}

.mesform{
    left: 100px;
    
}

.flex_test_box {
    /* background-color: #fff;     背景色指定 */
    /* padding:  10px;             余白指定 */
    display: flex;              /* フレックスボックスにする */
    flex-wrap: wrap;            /* 折り返し指定 */

    
    justify-content: flex-end;
    
  
}

.flex_test_item {
    /* padding: 10px; */
    /* color:  #fff;               文字色 */
    margin:  50px;              /*外側の余白 */
    border-radius:  5px;        /* 角丸指定 */
              /* 文字サイズ */
                   /* 幅指定 */
    text-align:  center;        /* 文字中央揃え */

    justify-content: flex-end;
}
 
.flex_test_item:nth-child(1) {
    /* background-color:  #fff; 背景色指定 */
    /* flex-grow: 0;               幅指定 */
    font-size:  auto;
    /* flex-basis: 30%; */
    margin-right: auto;
    
}
 
.flex_test_item:nth-child(2) {
    /* background-color:  #37e1f4; 背景色指定 */
    width: auto;/*auto*/
    font-size:  auto;
    /* flex-grow: 0.01;   */
    /* flex-basis: 40%; */
    /* margin-right: auto; */
    margin-right: 0;
}



.balloon1_left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 0.5em 10px;
    padding: 0.1px 10px;
    width: 300px;
    color: #555;
    font-size: 16px;
    background: #e0edff;
    border-radius: 10px;
    left:30px; 
    text-align:  left; 

    /* アニメーション */
    animation-name: fadeInAnime;
    animation-fill-mode:backwards;
    animation-duration:0.1s;
    animation-timing-function:ease;
    animation-delay: 0.5s;
    animation-direction:normal;
}

@keyframes fadeInAnime{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

  

.balloon1_left:before {
    content: "";
    position: absolute;
    top: 30%;
    left: -30px;
    margin-top: -10px;
    border: 13px solid transparent;
    border-right: 20px solid #e0edff;
  }
  
  .balloon1_left p {
    margin: 0;
    padding: 0;
  }


.box_parent {
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center; /* 中央揃え */
}
.box_child {
    width:200px; /* 任意の値 */
    height:200px; /* 任意の値 */
}


